.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3em;
}

.name {
  width: calc(14% - 24px);
  padding: 1%;
  text-align: center;
  background-color: rebeccapurple;
  margin: 4px;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px rebeccapurple;
}

.name:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.icon {
  display: inherit;
  height: 20px;
}

.createPizza {
  margin: 2em;
  display: flex;
  justify-content: center;
}


img {
  display: block;
  max-width: 50%;
}

#pizza {
  display: grid;
}
h3{
  margin-left: 3em;
  text-align: center;
}
.hide{
  display: none;
}
