<div class="container">
  <h1 class="pizzaHeader">Create Your Own Pizza</h1>
</div>
<div class="createPizza" id="createButton">
  <button (click)=createPizza() class="btn btn-success text-align-center">Pizza erstellen</button>
</div>
<!-- Display the toppings array in the DOM -->
<div class="dough hide" id="dough" style="text-align: center">
  <h3>Wähle deinen Teig!</h3>
  <div class="container">
    <div class="name" (click)="chooseDough('Klassischer Teig')">Klassisch</div>
    <div class="name" (click)="chooseDough('Vollkornteig')">Vollkorn</div>
  </div>
</div>

<div class="sauce hide" id="sauce" style="text-align: center">
  <h3>Wähle deine Sauce!</h3>
  <div class="container">
    <div class="name" (click)="chooseSauce('Tomatensauce')">Tomatensauce</div>
    <div class="name" (click)="chooseSauce('BBQ Sauce')">BBQ Sauce</div>
  </div>
</div>
<h3 class="hide" id="toppingsHeader">Wähle deinen Belag!</h3>
<div class="container hide" id="toppings">
  <div class="name" *ngFor="let topping of toppings">
    <div (click)=selectToppings(topping)>
      <span class=" icon {{topping}}"></span>
      <span>
        {{topping}}
      </span>
    </div>
  </div>
</div>
<!-- Display the toppings array in the DOM -->

<!-- Create Pizza Button -->

<!-- Create Pizza Button -->

<!-- customized Pizza  -->
<div #pizza></div>
<!-- customized Pizza  -->


<!-- <a href="/cart" class="btn btn-success">Proceed To Checkout</a> -->


<!-- <ng-container *ngFor="let pizza of pizzaSelected">
  {{pizza}}
</ng-container> -->

<!-- <div *ngIf="PizzasSelected.length === 0" class="alert alert-info">Cart Item is empty</div> -->
<ul class="list-group" *ngIf="pizzaSelected.length > 0">
  <li class="list-group-item" *ngFor="let pizza of pizzaSelected">
    <div class="cart-item">
      <span>{{ pizza}}</span> x <span>{{amountOfToppings(pizza)}}</span>: <strong>{{pizzaPrice(pizza) | currency: 'EUR'}}</strong>
    </div>
  </li>

  <li class="list-group-item active">
    <strong>Total: {{cartService.price | currency: 'EUR'}}</strong>
  </li>
</ul>


<a href="/cart" class="btn btn-success" *ngIf="pizzaSelected.length > 0">Proceed To Checkout</a>
