<div class="bg-transparent homeContainer">
  <h1>Bestell was du dir wünschst</h1>
  <p class="mainHeader">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam perspiciatis similique quia
    provident veritatis
    deserunt nesciunt eum, ea mollitia ipsum consectetur obcaecati officia at adipisci autem tempore sed id eius.
    Aperiam eius, aliquid tempora, ipsum repudiandae a blanditiis doloribus exercitationem amet, maiores corrupti
  </p>
  <button type="button" class="btn btnPrimary" routerLink="/konfiguration">Customized
    Pizza</button>
  <button type="button" class="btn btnSecondary" routerLink="/pizzas">Gefertigte
    Pizzas</button>
</div>
