.pizza {
  background-image: url('~src/assets/images/base.svg');
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 20px;
  position: relative;
}

.toppings {
  position: absolute;
  z-index: 100;
  top: 7%;
  left: 50%;
}

.content {
  height: 30px;
  width: 30px;
  margin: 15px;
  transform-origin: -80px 0px;
}

.spacer {
  position: absolute;
}

.Sardellen,
.Bacon,
.Basilikum,
.Chilli,
.Pilze,
.Oliven,
.Zwiebeln,
.Paprika,
.Salami,
.Garnelen,
.Mais,
.Tomaten,
.Mozzarella,
.salad,
.knoblauch {
  background-repeat: no-repeat;
}
