/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: url(assets/images/Home-Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  color: #fff;
  font-family: "Rubik";
}

img {
  max-width: 100%;
  display: block;
}

.Chilli {
  background-image: url("/assets/images/chili.svg");
}

.Mozzarella {
  background-image: url("/assets/images/mozzarella.svg");
}

.Paprika {
  background-image: url("/assets/images/pepper.svg");
}

.Salami {
  background-image: url("/assets/images/pepperoni.svg");
}

.Garnelen {
  background-image: url("/assets/images/prawn.svg");
}

.Mais {
  background-image: url("/assets/images/sweetcorn.svg");
}

.Sardellen {
  background-image: url("/assets/images/anchovy.svg");
}

.Bacon {
  background-image: url("/assets/images/bacon.svg");
}

.Basilikum {
  background-image: url("/assets/images/basil.svg");
}

.Chilli {
  background-image: url("/assets/images/chili.svg");
}

.mozarella {
  background-image: url("/assets/images/mozzarella.svg");
}

.Pilze {
  background-image: url("/assets/images/mushroom.svg");
}

.Oliven {
  background-image: url("/assets/images/olive.svg");
}

.Zwiebeln {
  background-image: url("/assets/images/anchovy.svg");
}

.Tomaten {
  background-image: url("/assets/images/tomato.svg");
}

.Mais {
  background-image: url("/assets/images/sweetcorn.svg");
}

.mozzarella {
  background-image: url("/assets/images/mozzarella.svg");
}

.pizzaHeader {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.cart-item {
  font-size: small;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
