<div class="containerPizzas">
  <h1 class="pizzaHeader">Auswahl an Pizzen</h1>




  <!-- <div *ngFor="let pizzaSelected of PizzasSelected">
  {{ pizzaSelected.title }}
</div> -->


  <!-- <button class="btn btn-success" (click)="addtoCart(pizza)"> -->
  <!-- add to cart -->
  <!-- </button> -->
  <!-- <select class="form-select form-select-sm btn btn-primary" aria-label=".form-select-sm example">
            <option value="1">Klein</option>
            <option value="2">Medium</option>
            <option value="3">Groß</option>
          </select>
          <p class="price">2.9 Euro</p>
          <button class="btn btn-success">add cart</button>
        </div> -->
  <div class="container">
    <div class="row g-2">
      <div class="col-md-4" *ngFor="let pizza of Pizzas">
        <div class="p-3 cardPizza"><img src="../../../assets/images/Screenshot 2021-12-04 at 13.05.20.png" alt="" />
          <h5 style="
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100ch;
      ">
            {{ pizza.title }}
          </h5>
          <p class="pizzaDesc">Toppings : {{ pizza.toppings }}</p>
          <p>{{pizza.price}} €</p>
          <button class="btn btn-success" (click)="addtoCart(pizza)"><i class="fas fa-shopping-cart"></i>+</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div *ngIf="PizzasSelected.length === 0" class="alert alert-info">leerer Warenkorb</div>
        <ul class="list-group" *ngIf="PizzasSelected.length > 0">
          <li class="list-group-item" *ngFor="let pizzaSelected of PizzasSelected">
            <div class="cart-item">
              <span>{{ pizzaSelected.title }}</span>: <strong>{{pizzaSelected.price | currency: 'EUR'}}</strong>
            </div>
          </li>

          <li class="list-group-item active">
            <strong>Total: {{totalPrice | currency: 'EUR'}}</strong>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
